<h1>Choose Smartsheet project you want to connect</h1>

<section class="left-padding">
    <md-input #search_filter (keyup)="filterProjects(search_filter.value)" placeholder="Search"
              style="width: 20%;"></md-input>
    <div style="clear:both"></div>

    <div class="projects-list">
        <h3 *ngIf="smartsheetProjects && !smartsheetProjects.length">
            No projects found.
        </h3>
        <h3 *ngIf="smartsheetProjects === null">
            <i class="fa fa-cog fa-spin fa-fw"></i> Searching for projects...
        </h3>

        <div *ngFor="let project of smartsheetProjects">
            <md-radio-button [disabled]="project.disabled" value="{{project.id}}" (click)="chooseProject(project)">
                {{project.name}}
            </md-radio-button>
            <div style="clear:both"></div>
        </div>
    </div>
</section>