<h1>Choose Smartsheet sheet you want to connect or <button md-button color="accent" [disabled]="!project" (click)="createNewSheetWithWorkspace()">create new sheet</button></h1>

<section class="left-padding">
    <md-input #search_filter (keyup)="filterProjects(search_filter.value)" placeholder="Search"
              style="width: 20%;"></md-input>
    <div style="clear:both"></div>

    <div class="projects-list">
        <h3 *ngIf="smartsheetSheets && !smartsheetSheets.length">
            No sheets found.
        </h3>
        <h3 *ngIf="smartsheetSheets === null">
            <i class="fa fa-cog fa-spin fa-fw"></i> Searching for sheets...
        </h3>

        <div *ngFor="let sheet of smartsheetSheets">
            <md-radio-button [disabled]="sheet.disabled" value="{{sheet.id}}" (click)="chooseExistingSheet(sheet)">
                {{sheet.name}}
            </md-radio-button>
            <div style="clear:both"></div>
        </div>
    </div>

    <button md-raised-button style="padding-left: 20px" color="primary" [disabled]="!selectedProject" (click)="goToNextStep()">Next step</button>
</section>