<div class="container-fluid">
    <div class="row module-header">
        <div class="col-xs-12">
            <div class="module-name">Billing</div>
        </div>
    </div>

    <div class="row">
        <div *ngIf="me && me.role && me.role !== 'guest'">
            <div class="col-xs-12">


                <md-card>
                    <h5>license....:</h5>

                    <div >
                        <a md-raised-button color="danger" >btn</a>
                    </div>


                    <div >
                        <a md-raised-button color="primary" href="">btn2</a>
                    </div>
                </md-card>
            </div>
        </div>

        <div *ngIf="me && me.role && me.role === 'guest'">
            <div class="col-xs-6">
                <md-card>
                    You are guest, please authenticate yourself.
                </md-card>
            </div>
        </div>
    </div>
</div>
