.invoice-table-header {
    font-weight: bold;

    font-size: 18px;
    border-bottom: solid 1px darkgray;
    line-height: 32px;
}
.invoice-table-row {
    font-size: 16px;
    padding: 5px;
    border-bottom: solid 1px darkgray;
    line-height: 32px;
}

.btn-danger {
    float: right;
}
