
<md-card *ngIf="newInvoices && newInvoices.length==0">
    <md-card-content>
        <div style="font-size: 20px;">
            No new invoices
        </div>
    </md-card-content>
</md-card>
<md-card *ngFor="let invoice of newInvoices">
    <md-card-content>
        <div style="font-size: 20px;">
            {{invoice.number}}
            <span [ngStyle]="{'color':getStatusColor(invoice)}" style="font-size: 22px;">{{getStatusLabel(invoice)}}</span>
        </div>
        <span>Total: ${{invoice.total}}</span>
        <span style="padding-left: 20px;">Invoice Date: {{invoice.invoice_date || 'N/A'}}</span>
        <span style="padding-left: 20px;">Due Date: {{invoice.due_date || 'N/A'}}</span>
        <span class="flex-spacer"></span>
        <button md-raised-button (click)="emailAnInvoice(invoice)">Send to Email</button>
    </md-card-content>
    <md-card-actions align="end">
        <!--<button md-button>Resend via email</button>-->
    </md-card-actions>
</md-card>


<md-card>
    <md-card-content>
        <div *ngIf="!invoices">
            <h5>Loading...</h5>
        </div>

        <div *ngIf="invoices && invoices.length == 0">
            <h5>No invoices found.</h5>
        </div>

        <div *ngIf="invoices && invoices.length > 0">

            History of invoices:

            <div>
                <div class="row invoice-table-header bottom-lined">
                    <div class="col-xs-3">Invoice Number</div>
                    <div class="col-xs-3">Payment Status</div>
                    <div class="col-xs-3">Created Date</div>
                    <div class="col-xs-1">Amount</div>
                </div>

                <div>
                    <div class="row invoice-table-row bottom-lined" *ngFor="let invoice of invoices">
                        <div class="col-xs-3">{{invoice.invoice_number}}</div>
                        <div class="col-xs-3">{{invoice.payment_status}}</div>
                        <div class="col-xs-3">{{invoice.created_at|date}}</div>
                        <div class="col-xs-1">${{invoice.amount}}</div>
                        <div class="col-xs-1"><a *ngIf="invoice.xero_invoice_id"
                                                 href="{{ printPDFUrl + invoice.xero_invoice_id }}"
                                                 target="_blank"
                                                 md-button>DETAILS</a></div>
                    </div>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
