<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" *ngIf="!invoices">
            <h5>No Invoices Yet.</h5>
        </div>

        <div *ngIf="invoices">
            <div class="col-xs-11">
                <div class="row invoice-table-header bottom-lined">
                    <div class="col-xs-3">Invoice Number</div>
                    <div class="col-xs-3">Payment Status</div>
                    <div class="col-xs-3">Created Date</div>
                    <div class="col-xs-1">Amount</div>
                </div>

                <div>
                    <div class="row invoice-table-row bottom-lined" *ngFor="let invoice of invoices">
                        <div class="col-xs-3">{{invoice.invoice_number}}</div>
                        <div class="col-xs-3">{{invoice.payment_status}}</div>
                        <div class="col-xs-3">{{invoice.created_at|date}}</div>
                        <div class="col-xs-1">{{invoice.amount}}</div>

                        <a *ngIf="invoice.payment_status == 'Open'" href="{{invoice.payment_link}}" target="_blank" class="btn btn-danger col-xs-1">Pay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
