<nav class="navbar navbar-default navbar-sc">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo-container" [routerLink]="['/projects']">
                <img src="/assets/img/logo.png" style="height: 40px;" alt="logo">
            </a>
        </div>

        <usermenu [user]="AuthService.authUser"></usermenu>
    </div>
    <loader-progress-bar [is-visible]="PendingRequestsService.hasPendingRequest"></loader-progress-bar>
</nav>

<div class="alert alert-danger" role="alert" *ngIf="PendingRequestsService.httpResponseError">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissResponseError()">
        <span aria-hidden="true">&times;</span>
    </button>
    Error: {{PendingRequestsService.httpResponseError}}
</div>

<div class="container-fluid">
    <div class="outer-outlet">
        <router-outlet></router-outlet>
    </div>
</div>

