<nav class="navbar navbar-default navbar-sc">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo-container" [routerLink]="['/projects']">
                <img src="/assets/img/logo.png" style="height: 40px;" alt="logo">
            </a>
        </div>

        <usermenu [user]="AuthService.authUser" [company]="AuthService.company"></usermenu>
    </div>
    <loader-progress-bar [is-visible]="PendingRequestsService.hasPendingRequest"></loader-progress-bar>
</nav>

<div *ngIf="PendingRequestsService.httpResponseErrors.length > 0">
    <div class="error-row" *ngFor="let error of PendingRequestsService.httpResponseErrors">
        <button type="button" class="close"
                (click)="dismissResponseError(PendingRequestsService.httpResponseErrors.indexOf(error))">
            <span aria-hidden="true">&times;</span>
        </button>
        Error: {{error}}
    </div>
</div>

<div class="container-fluid">
    <div class="outer-outlet">
        <router-outlet></router-outlet>
    </div>
</div>

