<md-card *ngIf="company" class="example-card">
    <md-card-header>
        <md-card-title>Company name</md-card-title>
        <md-card-subtitle>{{company.name}}</md-card-subtitle>
    </md-card-header>
</md-card>

<md-card *ngIf="company" class="example-card">
    <md-card-header>
        <md-card-title>Billing</md-card-title>
        <md-card-subtitle>Company billing responsible person</md-card-subtitle>
    </md-card-header>
    <md-card-content>

        <div class="row" *ngIf="company.pbr!= undefined">
            <span class="current-user" *ngIf="!showDropDown">{{currentUser}}</span>
            <drop-down *ngIf="showDropDown" class="custom-users-dropdown" [items]="ddUsersList" [(ngModel)]="pbrId"></drop-down>

            <span class="" *ngIf="isBillingUser">
                <a class="btn btn-success" *ngIf="!showDropDown" (click)="showEditPBR()">Edit</a>

                <span class="" *ngIf="showDropDown">
                    <button type="button" class="btn btn-success" (click)="saveUser()">Save</button>
                    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                </span>
            </span>
        </div>
        <div class="row" *ngIf="company.pbr== undefined">
            <p class="text-warn">PBR error</p>
        </div>
    </md-card-content>
</md-card>

<md-card *ngIf="company" class="example-card">
    <md-card-header>
        <md-card-title>Company Users</md-card-title>
    </md-card-header>
    <md-card-content>
        <div class="" *ngIf="usersList">
            <ul>
                <li *ngFor="let user of usersList">{{user.first_name}} {{user.last_name}} ({{user.email}})</li>
            </ul>
        </div>
        <div *ngIf="!usersList">
            <span>No users for this company yet</span>
        </div>
    </md-card-content>
</md-card>