<md-card *ngIf="company" class="example-card">
    <md-card-header>
        <md-card-title>General information</md-card-title>
    </md-card-header>
    <md-card-content>
        <div class="section">
            <div class="section-title">Name</div>
            <div class="section-content">{{company.name}}</div>
        </div>
    </md-card-content>
</md-card>

<md-card *ngIf="company" class="example-card">
    <md-card-header>
        <md-card-title>Company Users</md-card-title>
    </md-card-header>
    <md-card-content>
        <div class="" *ngIf="usersList">
            <ul>
                <li *ngFor="let user of usersList">{{user.first_name}} {{user.last_name}} ({{user.email}})</li>
            </ul>
        </div>
        <div *ngIf="!usersList">
            <span>No users for this company yet</span>
        </div>
    </md-card-content>
</md-card>