<md-card>

    <div class="container-fluid" *ngIf="!PipeConnectionService.pipesListObj[pipeType]?.connected_to">
        <div class="row">
            <div *ngIf="!isShowAlert">
                <div class="col-xs-12">
                    <h5>Allow Microsoft Project Desktop Connections?</h5>
                </div>

                <div class="col-xs-6 col-xs-offset-4" *ngIf="!isShowAlert">
                    <button class="btn btn-primary"
                            (click)="confirmConnection()">Yes
                    </button>
                    <button class="btn btn-primary"
                            (click)="cancelConnection()">No
                    </button>
                </div>
            </div>
        </div>
    </div>

    <md-card-header *ngIf="PipeConnectionService.pipesListObj[pipeType]?.connected_to === 'microsoft-desktop'">
        <md-card-title>Connection</md-card-title>
    </md-card-header>

    <md-card-content *ngIf="PipeConnectionService.pipesListObj[pipeType]?.connected_to === 'microsoft-desktop'">
        <div class="row">
            <div class="col-xs-12">
                <h5> Status: <span style="color: #3d8b40; font-weight: bold; margin-right: 15px;">Connected to Microsoft Desktop</span></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <a class="btn btn-primary" href="{{microsoftDesktopUrl}}">Download Application</a>
                </div>
                <div class="pull-right">
                    <pipe-delete [pipe]="PipeConnectionService.pipesListObj[pipeType]"></pipe-delete>
                </div>
            </div>
        </div>
    </md-card-content>

</md-card>
