.project-row {
    background-color: #EBEBEB;
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: max-height .1s;
    -moz-transition: max-height .1s;
    -ms-transition: max-height .1s;
    -o-transition: max-height .1s;
    transition: max-height .1s;
    overflow: hidden;
    max-height: 45px;
}

.row-expanded {
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -ms-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
}