.project-status-warning {
    display: inline-flex;
    vertical-align: middle;
    text-transform: uppercase;
    color: grey;
    padding-left: 10px;
}

.project-status-warning i {
    padding-right: 5px;
}

.disabled-reason {
    text-transform: capitalize;
    color: #ff0000;
}
