<div class="container-fluid">

    <div class="row module-header">
        <div class="col-xs-12">
            <div class="module-name">Projects</div>

            <md-input-container style="font-size: 18px">
                <input mdInput placeholder="Filter by project name" (keyup)="filterProjects($event.target.value)">
            </md-input-container>

            <a [routerLink]="['create-project']"
               class="btn btn-success pull-right" style="top: 10px;">connect project</a>

            <!--<span *ngIf="!this.AuthService.authUser.smartsheet_oauth" style="padding: 0 10px 0 40px;" class="pull-right">-->
            <!--Before creating project, you have to <a [routerLink]="['/connection']">authorize with SmartSheet</a>-->
            <!--</span>-->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" *ngIf="!filteredProjectRows">
            <h5><i class="fa fa-cog fa-spin fa-fw"></i> Getting projects...</h5>
        </div>

        <div class="col-xs-12" *ngIf="filteredProjectRows && !filteredProjectRows.length">
            <h5>You have no connected projects.</h5>
        </div>

        <div *ngIf="filteredProjectRows && filteredProjectRows.length">
            <div class="col-xs-12" *ngFor="let projectRow of filteredProjectRows">
                <div class="project-row">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row-label" (click)="projectRowExpand(projectRow)">
                                {{projectRow.project.name}}
                                <span class="project-status-warning" *ngIf="projectRow.project.status === 'disabled'">
                                    <i title="project disabled" class="material-icons">warning</i> disabled
                                    <span class="disabled-reason" *ngIf="projectRow.project.disabled_reason"> ({{ projectRow.project.disabled_reason }})</span>
                                </span>
                            </div>
                            <div class="row-icons" *ngIf="!projectRow.is_expanded">
                                <a *ngIf="getPipeSyncSourceLink(projectRow.projectPipesList, 'public_todos')"
                                   target="_blank"
                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'public_todos')}}"
                                ><i class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'public_todos')}}">event_available</i></a>
                                <i *ngIf="!getPipeSyncSourceLink(projectRow.projectPipesList, 'public_todos')"
                                   class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'public_todos')}}">event_available</i>

                                <a *ngIf="getPipeSyncSourceLink(projectRow.projectPipesList, 'private_todos')"
                                   target="_blank"
                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'private_todos')}}"
                                ><i class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'private_todos')}}">verified_user</i></a>
                                <i *ngIf="!getPipeSyncSourceLink(projectRow.projectPipesList, 'private_todos')"
                                   class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'private_todos')}}">verified_user</i>

                                <a *ngIf="getPipeSyncSourceLink(projectRow.projectPipesList, 'tasks')"
                                   [attr.target]="'smartsheet'===getPipeSyncSource(projectRow.projectPipesList, 'tasks') ? '_blank' : null"
                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'tasks')}}"
                                ><i class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'tasks')}}">event</i></a>
                                <i *ngIf="!getPipeSyncSourceLink(projectRow.projectPipesList, 'tasks')"
                                   class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'tasks')}}">event</i>

                                <a (click)="projectRowExpand(projectRow)">
                                    <i class="material-icons pipe-{{getDocumentPipesStatus(projectRow.projectPipesList)}}">perm_media</i>
                                </a>
                            </div>
                        </div>


                    </div>

                    <div class="container-fluid" *ngIf="projectRow.is_expanded">
                        <div class="expanded-row-container">
                            <div class="row header-row">
                                <div class="col-sm-6">
                                    <a [routerLink]="[projectRow.project.id, 'edit-project', 'settings']"
                                       class="btn btn-success"
                                       [class.disabled]="projectRow.project.status == 'disabled'">
                                        Project Settings</a>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <p>
                                        Billing Responsibility<br/>
                                        <span style="font-weight: bold;">{{projectRow.project?.pbr_username}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="connections-container">
                                        <h5>Connections:</h5>

                                        <div class="row connection-row" *ngIf="isPipeExist(projectRow, 'public_todos')">
                                            <div class="col-sm-4 col-lg-3 vertical-aligned">
                                                <i class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'public_todos')}}">event_available</i>
                                                Project Calendar Items
                                            </div>

                                            <div class="col-sm-8 col-lg-9">
                                                <a *ngIf="'smartsheet'===getPipeSyncSource(projectRow.projectPipesList, 'public_todos')"
                                                   target="_blank"
                                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'public_todos')}}"
                                                   md-button>SMARTSHEET</a>
                                                <a *ngIf="'gantt-chart'===getPipeSyncSource(projectRow.projectPipesList, 'public_todos')"
                                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'public_todos')}}"
                                                   target="_blank"
                                                   md-button>GANTT CHART</a>
                                                <a [routerLink]="[projectRow.project.id, 'sync-sessions', 'public_todos']"
                                                   md-button>VIEW SYNC
                                                </a>
                                            </div>
                                        </div>

                                        <div class="row connection-row" *ngIf="isPipeExist(projectRow, 'private_todos')">
                                            <div class="col-sm-4 col-lg-3 vertical-aligned">
                                                <i class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'private_todos')}}">verified_user</i>
                                                Private Calendar Items
                                            </div>

                                            <div class="col-sm-8 col-lg-9">
                                                <a *ngIf="'smartsheet'===getPipeSyncSource(projectRow.projectPipesList, 'private_todos')"
                                                   target="_blank"
                                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'private_todos')}}"
                                                   md-button>SMARTSHEET</a>
                                                <a *ngIf="'gantt-chart'===getPipeSyncSource(projectRow.projectPipesList, 'private_todos')"
                                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'private_todos')}}"
                                                   target="_blank"
                                                   md-button>GANTT CHART</a>
                                                <a [routerLink]="[projectRow.project.id, 'sync-sessions', 'private_todos']"
                                                   md-button>VIEW SYNC
                                                </a>
                                            </div>
                                        </div>

                                        <div class="row connection-row" *ngIf="isPipeExist(projectRow, 'tasks')">
                                            <div class="col-sm-4 col-lg-3 vertical-aligned">
                                                <i class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'tasks')}}">event</i>
                                                Project Schedule
                                            </div>

                                            <div class="col-sm-8 col-lg-9">
                                                <a *ngIf="'smartsheet'===getPipeSyncSource(projectRow.projectPipesList, 'tasks')"
                                                   target="_blank"
                                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'tasks')}}"
                                                   md-button>SMARTSHEET</a>
                                                <a *ngIf="'microsoft-online'===getPipeSyncSource(projectRow.projectPipesList, 'tasks')"
                                                   disabled
                                                   target="_blank"
                                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'tasks')}}"
                                                   md-button>MS PROJECT ONLINE</a>
                                                <a *ngIf="'microsoft-desktop'===getPipeSyncSource(projectRow.projectPipesList, 'tasks')"
                                                   target="_blank"
                                                   disabled
                                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'tasks')}}"
                                                   md-button>MS PROJECT DESKTOP</a>
                                                <a *ngIf="'gantt-chart'===getPipeSyncSource(projectRow.projectPipesList, 'tasks')"
                                                   href="{{getPipeSyncSourceLink(projectRow.projectPipesList, 'tasks')}}"
                                                   target="_blank"
                                                   md-button>GANTT CHART</a>
                                                <a [routerLink]="[projectRow.project.id, 'sync-sessions', 'tasks']"
                                                   md-button>VIEW SYNC
                                                </a>
                                            </div>
                                        </div>

                                        <div class="row connection-row"
                                             *ngFor="let docPipe of getPipesByType(projectRow, 'document_pipe')">
                                            <div class="col-sm-4 col-lg-3 vertical-aligned">
                                                <i class="material-icons pipe-{{getPipeStatusById(projectRow.projectPipesList, docPipe.id)}}">perm_media</i>
                                                {{ docPipe.name }}
                                            </div>

                                            <div class="col-sm-8 col-lg-9">
                                                <a target="_blank"
                                                   href="{{ docPipe.sm_permalink }}"
                                                   md-button>SMARTSHEET</a>
                                                <a [routerLink]="[projectRow.project.id, 'sync-sessions', 'document_pipe', docPipe.id]"
                                                   md-button>VIEW SYNC
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <div class="delete-button-container">
                                        <a [routerLink]="[projectRow.project.id, 'delete-project']"
                                           class="btn btn-danger">DELETE PROJECT</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
