<div class="container-fluid">

    <div class="row module-header">
        <div class="col-xs-12">
            <div class="module-name">Projects</div>
            <a [routerLink]="['create-project']" class="btn btn-success">create project</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" *ngIf="!projectRows">
            <h5><i class="fa fa-cog fa-spin fa-fw"></i> Getting projects...</h5>
        </div>

        <div class="col-xs-12" *ngIf="projectRows && !projectRows.length">
            <h5>You have no connected projects.</h5>
        </div>

        <div *ngIf="projectRows && projectRows.length">
            <div class="col-xs-12" *ngFor="let projectRow of projectRows">
                <div class="project-row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-5">
                                {{projectRow.project.name}}
                            </div>
                            <div class="col-xs-2">
                                <div class="project-status-warning" *ngIf="projectRow.project.status === 'disabled'">
                                    <i title="project disabled" class="material-icons">warning</i> disabled
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <i [routerLink]="[projectRow.project.id, 'sync-sessions', 'public_todos']"
                                   class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'public_todos')}}">event_available</i>
                                <i [routerLink]="[projectRow.project.id, 'sync-sessions', 'private_todos']"
                                   class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'private_todos')}}">verified_user</i>
                                <i [routerLink]="[projectRow.project.id, 'sync-sessions', 'tasks']"
                                   class="material-icons pipe-{{getPipeStatus(projectRow.projectPipesList, 'tasks')}}">event</i>
                            </div>
                            <div class="col-xs-2">
                                <a [routerLink]="[projectRow.project.id, 'edit-project']"
                                   class="btn btn-primary btn-sm">edit</a>
                                <a [routerLink]="[projectRow.project.id, 'delete-project']"
                                   class="btn btn-danger btn-sm">delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

