<div md-dialog-content>
    <form id="pay-trace-form" [formGroup]="form">
        <div class="title">Credit Card</div>

        <div class="col-md-12 form-fields">
            <input type="text" class="col-md-12" maxlength="16" formControlName="number" placeholder="Credit Card Number">
            <input type="text" class="col-md-4"  maxlength="2" formControlName="month" placeholder="Exp. month" [(ngModel)]="creditCard.expMonth">
            <input type="text" class="col-md-4"  maxlength="4" formControlName="year" placeholder="Exp. year" [(ngModel)]="creditCard.expYear">
            <input type="text" class="col-md-4"  maxlength="3" formControlName="cvv" placeholder="CVV">
        </div>

        <div class="title">Billing Address</div>

        <div class="col-md-12 form-fields">
            <input type="text" class="col-md-12" formControlName="customerName" placeholder="Customer Name" [(ngModel)]="creditCard.customerName">
            <input type="text" class="col-md-12" formControlName="street" placeholder="Street Address" [(ngModel)]="creditCard.street">
            <input type="text" class="col-md-12" formControlName="city" placeholder="City" [(ngModel)]="creditCard.city">
            <input type="text" class="col-md-12" formControlName="state" placeholder="State" [(ngModel)]="creditCard.state">
            <input type="text" class="col-md-12" formControlName="zip" placeholder="Zip Code" [(ngModel)]="creditCard.zip">
        </div>
    </form>

    <div id="errors" *ngIf="errors.length > 0">
        <div *ngFor="let er of errors">{{er}}</div>
    </div>
</div>

<div md-dialog-actions>
    <button type="submit" form="pay-trace-form" class="btn btn-success pull-left" (click)="submit()">Save</button>
    <button type="button" class="btn btn-default pull-right" (click)="dialogRef.close()">Cancel</button>
</div>
