<md-card>
    <md-card-header>
        <md-card-title>
            <span style="flex: 1 1 auto;">Resources management</span>
        </md-card-title>
        <span class="example-spacer"></span>
        <button md-button (click)="addResource()" style="margin-top: -13px; margin-bottom:13px;">ADD RESOURCE</button>
    </md-card-header>

    <md-card-content>
        <div *ngIf="resources && resources.length" class="container-fluid">
            <div class="row user-list" *ngFor="let resource of resources">

                <div class="col-xs-1">
                    <i class="material-icons resource-logo">description</i>
                </div>

                <div class="col-xs-6 assignee">
                    <p>{{resource}}</p>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
