<div class="col-md-12 panel-body pay-trace">
    <p>ScheduleConnector charge customers per active project.</p>
    <p>Project means active if it was activates at least once per last billing period.</p>

    <p *ngIf="!dialogComponent.creditCard.maskedCardNumber">
        <span class="title">Please provide billing information: </span>
        <button type="button" class="btn btn-success" (click)="open()">SETUP BILLING INFO</button>
    </p>

    <div *ngIf="dialogComponent.creditCard.maskedCardNumber">
        <p>
            <strong>Your billing information</strong>
            <span class="masked-card">Credit Card: {{dialogComponent.creditCard.maskedCardNumber}}</span>
        </p>

        <div class="row">
            <div class="col-md-2">
                <button type="button" class="col-md-12 btn btn-warning" (click)="clearCard()">Clear (and setup new)</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="col-md-12 btn btn-warning" (click)="updateCard()">Update Card</button>
            </div>
        </div>
    </div>
</div>

<modal-dialog [isVisible]="false"></modal-dialog>
