<md-card>
    <md-card-header>
        <md-card-title>Your personal Billing Information</md-card-title>
    </md-card-header>
    <md-card-content>
    <p>Charges are incurred for each active project.</p>
    <p>An 'Active Project' is defined as any project that synced data within the preceding 30 days.</p>

    <!--<p *ngIf="!creditCard.maskedCardNumber">-->
        <!--<span class="title">Please provide billing information: </span>-->
        <!--<button type="button" class="btn btn-success" (click)="open()">SETUP BILLING INFO</button>-->
    <!--</p>-->

    <div *ngIf="creditCard.maskedCardNumber">
        <p>
            <strong>Your billing information</strong>
            <span class="masked-card">Credit Card: {{creditCard.maskedCardNumber}}</span>
        </p>

        <div class="row">
            <button type="button" class="btn btn-warning" (click)="clearCard()">Clear (and setup new)</button>
            <button type="button" class="btn btn-warning" (click)="open()">Update Card</button>
        </div>
    </div>
    </md-card-content>
</md-card>

<md-card *ngIf="mySubsciptions.company_subscriptions && mySubsciptions.company_subscriptions.length==0">
    <md-card-content>
        <div style="font-size: 20px;">
            No Subscriptions
        </div>
    </md-card-content>
</md-card>
<md-card *ngFor="let subscription of mySubsciptions.company_subscriptions">
    <md-card-content>
        <div style="font-size: 20px;">
            Core ScheduleConnector Subscription
            <span [ngStyle]="{'color':getStatusColor(subscription)}" style="font-size: 22px;">{{getStatusLabel(subscription)}}</span>
        </div>
        <span>Price: ${{subscription.amount}}</span>
        <span style="padding-left: 20px;">Next Billing Date: {{subscription.next_billing_at || 'N/A'}}</span>
    </md-card-content>
    <md-card-actions align="end">
        <button *ngIf="!subscription.auto_collect" md-raised-button color="accent" (click)="updateSubscriptionCard(subscription)">Setup Billing</button>
        <button *ngIf="subscription.auto_collect" md-button (click)="updateSubscriptionCard(subscription)">Update Card</button>
        <span class="flex-spacer"></span>
        <button *ngIf="isCancellable(subscription)" md-button (click)="cancelSubscription(subscription)">Cancel Subscription</button>
        <button *ngIf="isRenewable(subscription)" md-button (click)="reactivateSubscription(subscription)">Renew</button>
    </md-card-actions>
</md-card>
