<md-card class="row">
    <md-card-header id="task-notification-header">
        <md-card-title>
            <div class="pull-left">Procore Webhook</div>
        </md-card-title>

        <button *ngIf="!webhookEnabled" md-button class="add-policy mat-primary" (click)="enable()">ENABLE</button>
        <button *ngIf="webhookEnabled" md-button class="add-policy mat-accent" (click)="disable()">DISABLE</button>
    </md-card-header>

    <md-card-content>
        <div *ngIf="webhookEnabled" class="enabled">
            Webhook enabled.
        </div>
        <div *ngIf="!webhookEnabled" class="disabled">
            Webhook disabled.
        </div>
    </md-card-content>
</md-card>
