<md-sidenav-container>
    <md-sidenav #sc_sidenav mode="side" opened="true" class="sc-sidenav">
        <md-toolbar>
            <span>Billing</span>

            <md-toolbar-row class="bottom-lined clickable-row after-separator" [routerLink]="['company']" [routerLinkActive]="['is-active']">
                <md-icon>settings</md-icon>
                <span>Company Billing</span>
            </md-toolbar-row>

            <md-toolbar-row class="bottom-lined clickable-row" [routerLink]="['info']" [routerLinkActive]="['is-active']">
                <md-icon>attach_money</md-icon>
                <span>Billing Information</span>
            </md-toolbar-row>

            <md-toolbar-row class="bottom-lined clickable-row" [routerLink]="['invoices']" [routerLinkActive]="['is-active']">
                <md-icon>date_range</md-icon>
                <span>Invoices</span>
            </md-toolbar-row>

            <md-toolbar-row class="bottom-lined clickable-row" [routerLink]="['licenses']" [routerLinkActive]="['is-active']">
                <md-icon>playlist_play</md-icon>
                <span>Licenses</span>
            </md-toolbar-row>
        </md-toolbar>
    </md-sidenav>
    <div>
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>