<div class="container-fluid">

    <div class="row module-header">
        <div class="col-xs-12">
            <div class="module-name">Create Project</div>
        </div>
    </div>


    <div class="row">
        <md-card class="col-md-6 col-md-offset-3">
            <md-card-subtitle>Please choose one of your Procore projects</md-card-subtitle>
            <md-card-content>
                <input type="text" class="full-width" (keyup)="filterProjects($event.target.value)"
                       placeholder="Filter by name">

                <div class="projects-list">
                    <h5 *ngIf="procoreProjects && !procoreProjects.length">
                        No projects found.
                    </h5>

                    <h5 *ngIf="procoreProjects === null">
                        <i class="fa fa-cog fa-spin fa-fw"></i> Searching for projects...
                    </h5>

                    <div *ngFor="let project of procoreProjects">
                        <md-radio-button [disabled]="checkIfAlreadyConnected(project)" name="procore-project-connect"
                                         value="{{project.id}}"
                                         (click)="chooseProject(project)">
                            {{project.name}}

                            <div class="is-connected" *ngIf="checkIfAlreadyConnected(project)">already connected</div>
                        </md-radio-button>
                        <div style="clear:both"></div>
                    </div>
                </div>

                <a (click)="createNewProject()" class="btn btn-success" [class.disabled]="!selectedProject">CREATE AND
                    CONTINUE</a>
                <a [routerLink]="['/','projects']" class="btn btn-warning">cancel</a>
            </md-card-content>
        </md-card>

    </div>

</div>