<div class="container-fluid">

    <div class="row module-header">
        <div class="col-xs-12">
            <div class="module-name">Connect Project</div>
        </div>
    </div>


    <div class="row">
        <md-card class="col-md-6 col-md-offset-3">
            <md-card-subtitle>Please choose one of your Procore projects</md-card-subtitle>
            <md-card-content>
                <input type="text" class="full-width" (keyup)="filterProjects($event.target.value)"
                       placeholder="Filter by name">

                <div class="projects-list">
                    <h5 *ngIf="procoreProjects && !procoreProjects.length">
                        No projects found.
                    </h5>

                    <h5 *ngIf="procoreProjects === null">
                        <i class="fa fa-cog fa-spin fa-fw"></i> Searching for projects...
                    </h5>

                    <div *ngFor="let project of procoreProjects">
                        <md-radio-button [disabled]="checkIfAlreadyConnected(project)" name="procore-project-connect"
                                         value="{{project.id}}"
                                         (click)="chooseProject(project)">
                            {{project.name}}

                            <div class="is-connected" *ngIf="checkIfAlreadyConnected(project)">already connected</div>
                        </md-radio-button>
                        <div style="clear:both"></div>
                    </div>
                </div>

                <span *ngIf="!canConnectNewProjects" style="font-weight: bold; color:#8b0305;">
                    Your company subscription is not active. You can't connect projects.
                </span>

                <div class="row">
                    <div class="col-xs-4">
                        <a (click)="createNewProject(true)" class="btn btn-danger full-width"
                           [class.disabled]="!selectedProject || !canConnectNewProjects || !canUseQuickSetup">Quick
                            Setup</a>
                    </div>

                    <div class="col-xs-2">
                        <a (click)="createNewProject()" class="btn btn-success full-width"
                           [class.disabled]="!selectedProject || !canConnectNewProjects">Connect</a>
                    </div>

                    <div class="col-xs-6 text-right">
                        <a [routerLink]="['/','projects']" class="btn btn-warning">cancel</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <a *ngIf="canUseQuickSetup" [routerLink]="['/', 'connection']">Connect a SmartSheet Account</a>
                    </div>
                </div>
            </md-card-content>
        </md-card>

    </div>

</div>