<md-card *ngIf="isShowAlert">
    <md-card-content>
        <h5>
            <p>
                We detected that this project already have uploaded schedule. To connect it via CybercoSync, you
                have to clear current schedule on Procore.
            </p>

            <p>
                NOTE: you won't be able setup connection if Procore Project already have uploaded schedule.
            </p>

            <p>
                To do this please follow to
                <a href="https://app.procore.com/{{procoreProjectId}}/project/calendar/configure_tab" target="_blank">this
                    Procore page</a>
                and click
                <a href="https://storage.googleapis.com/static-sc20/howto/Procore-ClearScheduleButton.png"
                   target="_blank">Clear Schedule button</a>
            </p>
        </h5>
    </md-card-content>
</md-card>

<smartsheet-schedule-choose *ngIf="useScheduleChartIsAsked" [pipe-type]="pipeType"
                            [text]="'Edit Procore\'s Project Schedule tasks with:'"
                            (decisionMade)="onSmartsheetScheduleDecisionMade($event)"></smartsheet-schedule-choose>

<schedule-connection *ngIf="scheduleChartIsUsed" pipe-type="{{pipeType}}"
                     [redirect-route]="redirectRoute"></schedule-connection>

<smartsheet-connection *ngIf="!useScheduleChartIsAsked && !scheduleChartIsUsed && projectType==='smartsheet'" pipe-type="{{pipeType}}"
                       [redirect-route]="redirectRoute"></smartsheet-connection>

<microsoft-online-connection *ngIf="!useScheduleChartIsAsked && !scheduleChartIsUsed && projectType==='microsoft-online'" pipe-type="{{pipeType}}"
                       [redirect-route]="redirectRoute"></microsoft-online-connection>

<microsoft-desktop-connection
        *ngIf="!useScheduleChartIsAsked && !scheduleChartIsUsed && projectType==='microsoft-desktop'"
        pipe-type="{{pipeType}}"
        (connection)="displayChooseConnection($event)">
</microsoft-desktop-connection>

<people-list *ngIf="project && pipesListObj[pipeType]" [projectId]="project.id"></people-list>
<resources-management *ngIf="project && pipesListObj[pipeType]" [projectId]="project.id"></resources-management>

<chart-working-days *ngIf="project && project.id && scheduleChartIsUsed" [projectId]="project.id"></chart-working-days>
