<md-card *ngIf="project" class="row">
    <md-card-header id="task-notification-header">
        <md-card-title>
            <div class="pull-left">Notifications</div>
        </md-card-title>

        <button md-button class="add-policy" (click)="addPolicy()">ADD POLICY</button>
    </md-card-header>

    <md-card-content *ngIf="policies">
        <div *ngIf="policies.length < 1">No policies</div>

        <div class="col-md-12 row" *ngFor="let policy of policies">
            <div class="col-md-11">
                <md-slide-toggle [checked]="policy.is_enabled" (change)="switchEnabling(policy.id, $event)">{{ policy.name }}</md-slide-toggle>
            </div>

            <div class="col-md-1">
                <button md-icon-button [mdMenuTriggerFor]="menu">
                    <md-icon>more_vert</md-icon>
                </button>
                <md-menu #menu="mdMenu">
                    <a md-menu-item>
                        <span>Clone</span>
                    </a>
                    <a md-menu-item href="{{ getPolicyLink(policy.id) }}">
                        <span>Edit</span>
                    </a>
                    <a md-menu-item (click)="removePolicy(policy.id)">
                        <span>Delete</span>
                    </a>
                </md-menu>
            </div>
        </div>
    </md-card-content>
</md-card>
