.groupings {
    display: block;
    margin-left: 2%;
}

.configurations {
    margin-left: 2%;
}

.show-data {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    cursor: pointer;
}

.show-data:hover {
    background-color: #e6e6e6;
}

md-input-container {
    font-size: 14px;
    width: 100%;
}

.select-buttons {
    padding: 1%;
}

.edit-button {
    display: inline-block;
    margin-right: 5%;
    text-decoration: none;
    cursor: pointer;
}

.item-list {
    margin-left: 0.5%;
}

.item-name {
    display:inline-block;
    width: 10%;
}

.item-data {
    display:inline-block;
    width: 80%;
}

@media screen and (max-width: 1300px) {
    .item-name {
        display:inline-block;
        width: 20%;
    }

    .item-data {
        display:inline-block;
        width: 70%;
    }
}

.item-data-container {
    display:inline-block;
    width: 20%;
    vertical-align:top;
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    .item-data-container {
        display:inline-block;
        width: 25%;
        vertical-align:top;
    }
}

@media screen and (max-width: 1300px) {
    .item-data-container {
        display:inline-block;
        width: 30%;
        vertical-align:top;
    }
}

