.groupings {
    display: block;
    margin-left: 2%;
}

.configurations {
    margin-left: 2%;
}

.show-data {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
}

md-input-container {
    font-size: 14px;
    width: 100%;
}

.select-buttons {
    padding: 1%;
}

.edit-button {
    display: inline-block;
    margin-right: 5%;
    text-decoration: none;
    cursor:pointer;
}