<div class="container-fluid">
    <div class="row">
        <div class="message" *ngFor="let notification of lineNotifications">
            <div class="alert alert-dismissible" [class.alert-success]="notification.getType() === 'info'"
                 [class.alert-danger]="notification.getType() === 'error'"
                 [class.alert-warning]="notification.getType() === 'warning'" *ngIf="!notification.isViewed()">

                <button *ngIf="notification.isQuitable()" type="button" class="close" (click)="notification.hide()">
                    &times;
                </button>
                {{notification.getMessage()}}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid reaction-notification-container" *ngIf="reactionNotifications.length">
    <div class="row" *ngFor="let notification of reactionNotifications">
        <reaction-notification-card [notification]="notification"></reaction-notification-card>
    </div>
</div>
