<button (click)="showConfirmation()" [disabled]="isConfirmationVisible"
        class="btn btn-warning">DISCONNECT</button>

<div *ngIf="isConfirmationVisible">
        <h6>Connection for this type of date will be destroyed. All history of synchronization will be removed.
            Note: data on SmartSheet and Procore will stay as is.</h6>
        <button style="float: left;" (click)="disconnectPipe()" [disabled]="deleteButtonDisabled" class="btn btn-danger">Confirm
            disconnecting
        </button>
</div>