<div class="modal-dialog modal-sm" role="document" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-body">
            <form id="pay-trace-form" [formGroup]="form">
                <fieldset>
                    <legend>Credit Card</legend>

                    <div class="col-md-12">
                        <input type="text" class="col-md-12" maxlength="16" formControlName="number" placeholder="Credit Card Number">
                        <input type="text" class="col-md-4"  maxlength="2" formControlName="month" placeholder="Exp. month">
                        <input type="text" class="col-md-4"  maxlength="4" formControlName="year" placeholder="Exp. year">
                        <input type="text" class="col-md-4"  maxlength="3" formControlName="cvv" placeholder="CVV">
                    </div>
                </fieldset>

                <fieldset *ngIf="billingEnable">
                    <legend>Billing Address</legend>

                    <div class="col-md-12">
                        <input type="text" class="col-md-12" name="name" placeholder="Cardholder Name" [(ngModel)]="creditCard.customerName">
                        <input type="text" class="col-md-12" name="street" placeholder="Street Address" [(ngModel)]="creditCard.street">
                        <input type="text" class="col-md-12" name="city" placeholder="City" [(ngModel)]="creditCard.city">
                        <input type="text" class="col-md-12" name="state" placeholder="State" [(ngModel)]="creditCard.state">
                        <input type="text" class="col-md-12" name="zip" placeholder="Zip Code" [(ngModel)]="creditCard.zip">
                    </div>
                </fieldset>
            </form>

            <div id="errors" *ngIf="errors.length > 0">
                <div *ngFor="let er of errors">{{er}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" form="pay-trace-form" class="btn btn-success pull-left" (click)="submit()">Save</button>
            <button type="button" class="btn btn-default" (click)="closeDialog()">Cancel</button>
        </div>
    </div>
</div>

<div class="md-overlay-backdrop" *ngIf="isVisible" (click)="closeDialog()"></div>