<md-card class="example-card">
    <md-card-header>
        <md-card-title>Primary billing responsibility person</md-card-title>
    </md-card-header>
    <md-card-content>
        <div *ngIf="pbrUser !== null">
            <md-card-content>
                <md-checkbox [(ngModel)]="project.is_separate_invoice" (change)="switchStatus()">Generate separate invoice for this project</md-checkbox>
            </md-card-content>

            <div *ngIf="!isEdit">
                    <span>
                        <b>{{pbrUser.first_name}} {{pbrUser.last_name}}</b> ({{pbrUser.email}})
                    </span>
                <span class="button-group" *ngIf="isBillingUser && project.is_separate_invoice">
                        <button class="btn btn-warning" (click)="editPbr()">Edit</button>
                    </span>
            </div>

            <div *ngIf="isEdit && project.is_separate_invoice">
                <md-input-container style="width:350px;">
                    <input mdInput placeholder="Company billing responsible person" [mdAutocomplete]="auto" [formControl]="userCtrl" [(ngModel)]="pbrUser">
                </md-input-container>

                <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
                    <md-option *ngFor="let user of filtered | async" [value]="user">
                        {{ user.first_name }} {{ user.last_name }} ({{ user.email }})
                    </md-option>
                </md-autocomplete>

                <span class="button-group" style="width:365px;">
                    <button class="btn btn-success" (click)="savePbr(user)">Save</button>
                    <button class="btn btn-default" (click)="cancel()">Cancel</button>
                    <button class="btn btn-warning" (click)="resetPbrToCompanyDefault()">Reset to company default</button>
                </span>
            </div>
        </div>
    </md-card-content>
</md-card>
