<md-card class="example-card">
    <md-card-header>
        <md-card-title>User personal settings</md-card-title>
    </md-card-header>
    <md-card-content>
        <div class="form-group">
            <md-checkbox class="example-margin" [(ngModel)]="AuthService.authUser.is_login_as_allowed">Allow "Login As" feature</md-checkbox>
        </div>

        <div class="form-group">
            <md-checkbox class="example-margin" [(ngModel)]="AuthService.authUser.disable_task_notification">Don't send me email notifications</md-checkbox>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-success" (click)="save()">Save</button>
        </div>
    </md-card-content>
</md-card>
