<md-card>
    <md-card-header>
        <md-card-title>
            <span style="flex: 1 1 auto;">Project Directory</span>
            <button md-button (click)="addResource()" style="margin-top: -13px; margin-bottom:13px;">ADD RESOURCE</button>
        </md-card-title>
    </md-card-header>
    <md-card-content>


<div *ngIf="assignees && assignees.length" class="row">
    <div class="row user-list" *ngFor="let assignee of assignees">
        <div class="col-xs-6 assignee">
            {{assignee.first_name + ' ' + assignee.last_name + ' (' + assignee.email + ')'}}
            <i *ngIf="systemConnectedAssigneesIdsList.indexOf(assignee.id) !== -1" style="color: green" class="material-icons">check_circle</i>
        </div>
        <div class="col-xs-6">
            <md-select placeholder="- Choose Resource -" [(ngModel)]="model[assignee.id]"
                       [name]=assignee.id>
                <md-option *ngFor="let resourceName of resourcesDropdownValues" [value]="resourceName">
                    {{resourceName}}
                </md-option>
            </md-select>
        </div>
    </div>
    <button class="pull-right btn btn-success" (click)="save()">SAVE</button>
</div>
    </md-card-content>
</md-card>
