<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h5>Match columns</h5>
        </div>

        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group" *ngFor="let procoreTodoColumn of procoreTodosColumns">
                    <label class="col-xs-2 control-label">{{procoreTodoColumn.title}}</label>
                    <div class="col-xs-10">
                        <select [(ngModel)]="model[procoreTodoColumn.slug]" [name]="procoreTodoColumn.slug">
                            <option value="">- Smartsheet column -</option>
                            <option *ngFor="let column of sheetColumns" [value]="column.id"
                                    [disabled]="checkIfOptionDisabled(column.id, procoreTodoColumn.slug)">
                                {{column.title}}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>