<div class="container-fluid match-columns-container">
    <div class="row">
        <div class="col-xs-12">
            <h5>Match columns</h5>
        </div>

        <div class="col-xs-12" *ngIf="validationError">
            <div class="alert alert-danger">
                All columns should be matched.
            </div>
        </div>

        <div class="col-xs-12" *ngIf="!smColumns && !prColumns">
            <i class="fa fa-cog fa-spin fa-fw"></i> Loading columns...
        </div>
        <div class="col-xs-12" *ngIf="smColumns?.length > 0 && prColumns?.length > 0">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-2">
                        <div class="pull-right">
                            <b>Procore</b>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <b>SmartSheet</b>
                    </div>
                </div>

                <div class="form-group" *ngFor="let procoreTodoColumn of prColumns">
                    <label class="col-xs-2 control-label">{{procoreTodoColumn.title}}</label>
                    <div class="col-xs-10">
                        <md-select placeholder="- Smartsheet column -" [(ngModel)]="model[procoreTodoColumn.slug]" [name]="procoreTodoColumn.slug">
                            <md-option *ngFor="let smColumn of smColumns" [value]="smColumn.id" [disabled]="isNotAvailable(smColumn, procoreTodoColumn)">
                                {{ smColumn.title }}
                            </md-option>
                        </md-select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a [class.disabled]="false" class="btn btn-success" (click)="matchColumns()">Match Columns</a>
        </div>
    </div>
</div>