<div class="container-fluid">
    <div class="row module-header">
        <div class="col-xs-12">
            <div class="module-name">Connections</div>
        </div>
    </div>

    <div class="row">
        <div *ngIf="me && me.role && me.role !== 'guest'">
            <div class="col-xs-12">
                <md-card [ngClass]="{'no-connection': !me.procore_oauth}">
                    <div class="connection-app-info">
                        <div class="connection-app-overview">
                            <h4>Procore</h4>
                            ScheduleConnector fetch data from Procore due synchronization process.
                        </div>
                        <div class="connection-app-logo">
                            <img class="img-responsive" src="/assets/img/procore-logo-black.png" />
                        </div>
                    </div>

                    <div *ngIf="me.procore_oauth" style="clear:both;">
                        <hr />
                        <span style="font-weight: bold; color: #3d8b40;">Already Connected</span>
                        via
                        <span style="font-weight: bold;">{{me.procore_oauth.account_email}}</span>
                        <a class="btn btn-primary pull-right" href="{{getProcoreAuthLink()}}">Refresh</a>
                    </div>
                    <div *ngIf="!me.procore_oauth" style="clear:both;">
                        <hr />
                        <span style="color: darkred;">Something Wrong. Please contact support.</span>
                    </div>
                </md-card>

                <md-card [ngClass]="{'no-connection': !me.smartsheet_oauth}">
                    <div class="connection-app-info">
                        <div class="connection-app-overview">
                            <h4>Smartsheet</h4>
                            ScheduleConnector fetch data from Smartsheet due synchronization process.
                        </div>
                        <div class="connection-app-logo">
                            <img class="img-responsive" src="/assets/img/smartsheet-logo-navy.png" />
                        </div>
                    </div>

                    <div *ngIf="me.smartsheet_oauth" style="clear:both;">
                        <hr />
                        <span style="font-weight: bold; color: #3d8b40;">Already Connected</span>
                        via
                        <span style="font-weight: bold;">{{me.smartsheet_oauth.account_email}}</span>

                        <a class="btn btn-warning pull-right" (click)="removeSmartsheetAuth()">Disable Connection</a>
                    </div>

                    <div *ngIf="!me.smartsheet_oauth" style="clear:both;">
                        <hr />
                        <span style="font-weight: bold; color: #8b0305;">Not Connected</span>

                        <a class="btn btn-primary pull-right" href="{{getSmartsheetAuthLink()}}">
                            Get Smartsheet connection
                        </a>
                    </div>
                </md-card>

                <md-card [ngClass]="{'no-connection': !me.microsoft_oauth}">
                    <div class="connection-app-info">
                        <div class="connection-app-overview">
                            <h4>Microsoft Project Online</h4>
                            ScheduleConnector fetch data from Microsoft Project Online due synchronization process.
                        </div>
                        <div class="connection-app-logo">
                            <img class="img-responsive" src="/assets/img/microsoft-project.png" />
                        </div>
                    </div>

                    <div *ngIf="me.microsoft_oauth" style="clear:both;">
                        <hr />
                        <span style="font-weight: bold; color: #3d8b40;">Already Connected</span>
                        via
                        <span style="font-weight: bold;">{{me.microsoft_oauth.account_email}}</span>
                        <a class="btn btn-warning pull-right" (click)="removeMicrosoftAuth()">Disable Connection</a>
                    </div>
                    <div *ngIf="!me.microsoft_oauth" style="clear:both;">
                        <hr />
                        <span style="font-weight: bold; color: #b90305;">Not Connected</span>
                        <md-input-container class="connection-control">
                            <input mdInput placeholder="What is you URL to PWA" [formControl]="microsoftForm" required />
                            <md-hint *ngIf="microsoftForm.invalid && (microsoftForm.dirty || microsoftForm.touched)">
                                <span *ngIf="microsoftForm.errors.required" class="invalid-control">
                                    PWA url is required.
                                </span>
                            </md-hint>
                        </md-input-container>

                        <button type="button" class="btn btn-primary pull-right" (click)="getMicrosoftAuthLink()">
                            Get Microsoft connection
                        </button>

                    </div>
                </md-card>

                <md-card>
                    <div class="connection-app-info">
                        <div class="connection-app-overview">
                            <h4>Microsoft Project Desktop</h4>
                            ScheduleConnector fetch data from Microsoft Project Desktop due synchronization process.
                        </div>
                        <div class="connection-app-logo">
                            <img class="img-responsive" src="/assets/img/microsoft-project-desktop.png" />
                        </div>
                    </div>

                    <div *ngIf="me.microsoft_oauth_desktop" style="clear:both;">
                        <hr />
                        <span style="font-weight: bold; color: #3d8b40;"></span>
                        via
                        <span style="font-weight: bold;">{{me.microsoft_oauth.account_email}}</span>
                        <a class="btn btn-warning pull-right"></a>
                    </div>
                    <div *ngIf="!me.microsoft_oauth_desktop" style="clear:both;">
                        <hr />
                        <span style="font-weight: bold; color: #8b0305;">Not Connected</span>

                        <a class="btn btn-info pull-right">
                            Will be soon
                        </a>
                    </div>
                </md-card>
            </div>
        </div>

        <div *ngIf="me && me.role && me.role === 'guest'">
            <div class="col-xs-6">
                <md-card>
                    You are guest, please authenticate yourself.
                </md-card>
            </div>
        </div>
    </div>
</div>
