md-card {
    margin-bottom: 25px;
    width: 700px;
}

md-card.no-connection {
    background-color: #ffbfbf;
}

.connection-app-info {
    display: table;
    width: 100%;
}

.connection-app-logo {
    display: table-cell;
    width: 195px;
    vertical-align: middle;
    padding-left: 25px;
}

.connection-app-overview {
    display: table-cell;
    vertical-align: middle;
}

.connection-app-overview h4 {
    margin-top: 0;
}

.connection-control {
    width: 280px;
    margin: 0 0 0 40px;
}

.invalid-control {
    color: #b90305;
}

.remove-token-icon {
    font-size: 20px;
    vertical-align: middle;
    color: #a51010;
    cursor: pointer;
    margin: 0 0 0 10px;
}
