<h2>Connections</h2>
<div *ngIf="me">
    <md-card *ngIf="me.procore_oauth">
        <h3>Procore connection:</h3>
        <ul>
            <li>Email: {{me.procore_oauth.account_email}}</li>
        </ul>

        <a md-raised-button color="primary" href="{{getProcoreAuthLink()}}">Refresh Procore connection</a>
    </md-card>

    <md-card *ngIf="me.smartsheet_oauth">
        <h3>Smartsheet connection:</h3>
        <ul>
            <li>Full name: {{me.first_name}} {{me.last_name}}</li>
            <li>Role: {{me.role}}</li>
        </ul>
    </md-card>
</div>