body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #eeeeee;
}

body * {
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}

body md-sidenav {
    margin: 0;
    min-width: 15%;
}

body md-sidenav [md-button] {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 24px 0;
}

body .app-content {
    padding: 32px;
    min-height: 90vh;
}

body md-toolbar md-icon {
    cursor: pointer;
}

body md-toolbar .main-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

body h1 {
    font-size: 20px;
}

.buttons-group {
    margin: 8px 0;
    padding: 8px;
    border-radius: 2px;
}

.left-padding {
    padding-left: 2%;
}

.navbar-sc {
    background-color: #44556b;
    border-radius: 0px;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 19px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #EBEBEB;
}

.navbar-default .navbar-nav > li > a.active {
    text-decoration: underline;
}

.logo-container {
    height: auto;
    background-color: #2c3e56;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 19px;
    padding-top: 32px;
    display: inline-flex;
    vertical-align: middle;
}

.module-header {
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    line-height: 55px;
    border-bottom: 1px solid #bdbdbd;
}

.module-name {
    display: block;
    float: left;
    font-size: 30px;
    margin-right: 50px;
}

.btn-success {
    background-color: #14A39A;
}

.btn-success:hover, .btn-success:focus {
    background-color: #10827B;
}

.pipe-active {
    color: #2A8039;
}

.pipe-inactive {
    color: #A0A0A0;
}

.pipe-disabled {
    color: #FF530D;
}

.full-width {
    width: 100%;
}

input, select {
    outline: none;
}

select > option:disabled {
    color: #D5D5D5;
}

.clickable-row {
    cursor: pointer;
    background-color: #FCFCFC;
}

.clickable-row:hover {
    background-color: #F7F7F7;
}

.project-row {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: max-height .1s;
    -moz-transition: max-height .1s;
    -ms-transition: max-height .1s;
    -o-transition: max-height .1s;
    transition: max-height .1s;
    overflow: hidden;
    max-height: 45px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.expandable-row {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: max-height .1s;
    -moz-transition: max-height .1s;
    -ms-transition: max-height .1s;
    -o-transition: max-height .1s;
    transition: max-height .1s;
    overflow: hidden;
    max-height: 145px;
    border: 1px solid #C9C9C9;
    border-radius: 2px;
}

.row-expanded {
    max-height: 400px;
    background-color: #fff;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -ms-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
}

.left-lined {
    border-left: 1px solid #A1A1A1;
}

.top-lined {
    border-top: 1px solid #A1A1A1;
}

.filter-container {
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #C9C9C9;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.filter-container a {
    cursor: pointer;
}