body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
}

body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body md-sidenav {
    margin: 0;
    min-width: 15%;
}

body md-sidenav [md-button] {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 24px 0;
}

body .app-content {
    padding: 32px;
    min-height: 90vh;
}

body md-toolbar md-icon {
    cursor: pointer;
}

body md-toolbar .main-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

body h1 {
    font-size: 20px;
}

.buttons-group {
    margin: 8px 0;
    padding: 8px;
    border-radius: 2px;
}

.left-padding {
    padding-left: 2%;
}

.navbar-sc {
    background-color: #2C3E50;
    border-radius: 0px;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 19px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #EBEBEB;
}

.logo-container {
    height: auto;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 19px;
    padding-top: 32px;
}

.module-header {
    padding-bottom: 10px;
    line-height: 55px;
    border-bottom: 1px solid #EBEBEB;
}

.module-name {
    display: block;
    float: left;
    font-size: 30px;
    margin-right: 50px;
}

.btn-success {
    background-color: #14A39A;
}

.btn-success:hover, .btn-success:focus {
    background-color: #10827B;
}