.right-lined {
    border-right: 1px solid #A1A1A1;
    height: 100%;
}

.bottom-lined {
    border-bottom: 1px solid #A1A1A1;
}

.pipe-header-large {
    font-size: 24px;
    padding: 10px 10px 5px;
}

.pipe-header-average {
    font-size: 16px;
    padding: 15px 20px 0px;
    display: inline-flex;
    vertical-align: middle;
}

.pipe-step-header-large {
    font-size: 24px;
}

.pipe-step-description {
    font-size: 12px;
    color: grey;
    margin-bottom: 10px;
}

.pipe-header-average i {
    margin-right: 10px;
    font-size: 30px;
}

.pipe-description {
    font-size: 12px;
    color: grey;
    padding: 0px 20px 10px;
}

.step-completed i {
    color: #2A8039;
}

.step-not-completed {

}

.step-failed i {
    color: #FF530D;
}

.pipes-wizard-container {
    height: auto;
    border-bottom: 1px solid #A1A1A1;
    background-color: #FFFFFF;
}

/*.pipes-list {
    height: 700px;
}

.pipe-config-steps {
    height: 640px;
}*/

.pipe-step-container {
    border-left: 1px solid #A1A1A1;
}

.pipe-step-active {
    background-color: #F7F7F7;
}

.pipe-status-active i {
    color: #2A8039;
}

.pipe-status-disabled i {
    color: #FF530D;
}

.pipe-status-inactive i {
    color: #B7B7B7;
}

@media only screen and (min-width: 768px) {
    .pipes-wizard-container {
        display: table;
        height: calc(100vh - 81px);
    }

    .pipes-wizard-container [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }

    .pipe-step-container {
        display: table;
        height: calc(100vh - 81px);
    }

    .pipe-step-container [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}