<div class="row">
    <div class="pipes-wizard-container">

        <!-- PIPES LIST -->
        <div class="pipes-list right-lined">

            <div class="row bottom-lined">
                <div class="col-xs-12">
                    <div class="pipe-header-large">{{project.name}}</div>
                </div>
            </div>

            <pipe-row router-link="pipe-public-todo" material-icon="event_available" pipe-title="Project Calendar Items"
                      description="Visible to anyone with Schedule Access"></pipe-row>

            <pipe-row router-link="pipe-private-todo" material-icon="verified_user" pipe-title="Private Calendar Items"
                      description="Visible only to your Company"></pipe-row>

            <pipe-row router-link="pipe-tasks" material-icon="event" pipe-title="Project Schedule"
                      description="1-way sync to Procore"></pipe-row>

            <pipe-row material-icon="settings" router-link="settings" pipe-title="General Settings"
                      description="Project settings."></pipe-row>

        </div>
        <!-- end PIPES LIST -->

        <div class="pipe-edit-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>