<div class="">
    <div class="row pipes-wizard-container">

        <!-- PIPES LIST -->
        <div class="col-xs-3 col-lg-2 pipes-list right-lined">

            <div class="row bottom-lined clickable-row">
                <div class="col-xs-12">
                    <div class="pipe-header-large">Toy Story Building</div>
                </div>
            </div>

            <pipe-row router-link="pipe-public-todo" material-icon="event_available" pipe-title="Public Todos" description="Description."></pipe-row>
            <pipe-row router-link="pipe-private-todo" material-icon="verified_user" pipe-title="Private Todos" description="Another description for pipe here."></pipe-row>
            <pipe-row material-icon="settings" pipe-title="General Settings" description="Description for project settings."></pipe-row>

        </div>
        <!-- end PIPES LIST -->

        <div class="col-xs-9 col-lg-10">

            <!-- STATUS ROW -->
            <div class="row bottom-lined">
                <div class="col-xs-12">
                    <div class="pipe-header-large">Current status: disabled
                        <a href="" class="btn btn-success">enable</a>
                    </div>
                </div>
            </div>
            <!-- end STATUS ROW -->

            <div class="row">
                <div class="inner-outlet">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>