<h1>Choose Procore project you want to connect</h1>

<section class="left-padding">
    <md-input #search_filter (keyup)="filterProjects(search_filter.value)" placeholder="Search"
              style="width: 20%;"></md-input>
    <div style="clear:both"></div>

    <div *ngFor="let project of procoreProjects">
        <md-radio-button [disabled]="project.disabled" name="procore-project-connect" value="{{project.id}}">
            {{project.name}}
        </md-radio-button>
        <div style="clear:both"></div>
    </div>

    <h3 *ngIf="!procoreProjects.length">
        No projects found.
    </h3>
</section>