<h1>Choose Procore project you want to connect</h1>

<section class="left-padding">
    <md-input #search_filter (keyup)="filterProjects(search_filter.value)" placeholder="Search"
              style="width: 20%;"></md-input>
    <div style="clear:both"></div>

    <div class="projects-list">
        <h3 *ngIf="procoreProjects && !procoreProjects.length">
            No projects found.
        </h3>
        <h3 *ngIf="procoreProjects === null">
            <i class="fa fa-cog fa-spin fa-fw"></i> Searching for projects...
        </h3>

        <div *ngFor="let project of procoreProjects">
            <md-radio-button [disabled]="project.is_connected" name="procore-project-connect" value="{{project.id}}"
                             (click)="chooseProject(project)">
                {{project.name}} <div class="is-connected" *ngIf="project.is_connected">is connected</div>
            </md-radio-button>
            <div style="clear:both"></div>
        </div>
    </div>

    <button md-raised-button style="padding-left: 20px" color="primary" [disabled]="!selectedProject" (click)="goToNextStep()">Next step</button>
</section>