<div class="col-md-offset-3 col-md-6 choose-company">
    <md-card *ngIf="companiesList">
        <md-card-title style="font-size: 20px">
            <p>You have access to more than one Procore company.</p>
        </md-card-title>
        <md-card-content>
            <p>Please choose which one you would like to work with:</p>
        </md-card-content>

        <div class="companies-button-group">
            <div *ngFor="let procoreCompany of companiesList" >
                <button md-button (click)="authWithProcoreCompany(procoreCompany.id)" class="companies-button">
                    {{procoreCompany.name}} <md-icon *ngIf="procoreCompany.name">arrow_forward</md-icon>
                </button>
            </div>
        </div>
    </md-card>
</div>



