<div class="col-xs-3 right-lined pipe-config-steps">
    <pipe-step-row step-status="{{pipesListObj.public_todos?.sm_sheet_id? 'completed' : 'not-completed'}}"
                   step-name="SmartSheet Connection" step-description=""
                   [action]="['smartsheet-connection-public']"></pipe-step-row>

    <pipe-step-row
            step-status="{{pipesListObj.public_todos?.sm_working_days && pipesListObj.public_todos?.sm_weekends? 'completed' : 'not-completed'}}"
            step-name="Settings" step-description=""
            [action]="['settings-public']"></pipe-step-row>
</div>

<div class="col-xs-9">
    <router-outlet></router-outlet>
</div>