<!-- STATUS ROW -->
<div class="row bottom-lined">
    <div class="col-xs-8 pipe-header-large">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5">
                    Current status: {{pipesListObj[pipeType]?.status || 'inactive'}}
                </div>

                <div class="col-xs-7">
                    <div *ngIf="pipesListObj[pipeType]">
                        <div *ngIf="(pipesListObj[pipeType]?.status != 'active')"
                             style="display: block; float: left">
                            <a (click)="PipeConnectionService.enablePipe(pipesListObj[pipeType]?.id)"
                               [class.disabled]="!(pipesListObj[pipeType]?.sm_sheet_id && pipesListObj[pipeType]?.defaultWorkingDays)"
                               class="btn btn-success">enable</a>
                        </div>
                        <div *ngIf="(pipesListObj[pipeType]?.status == 'active')"
                             style="display: block; float: left">
                            <a (click)="PipeConnectionService.disablePipe(pipesListObj[pipeType]?.id)"
                               class="btn btn-danger">disable</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end STATUS ROW -->

<div class="row">
    <div class="col-xs-3 pipe-config-steps">
        <pipe-step-row step-status="{{pipesListObj[pipeType]?.sm_sheet_id? 'completed' : 'not-completed'}}"
                       step-name="SmartSheet Connection" step-description=""
                       [action]="['smartsheet-connection-public']"></pipe-step-row>

        <pipe-step-row
                step-status="{{pipesListObj[pipeType]?.sm_working_days && pipesListObj[pipeType]?.sm_weekends? 'completed' : 'not-completed'}}"
                step-name="Settings" step-description=""
                [action]="['settings-public']"></pipe-step-row>
    </div>

    <div class="col-xs-9 pipe-step-container">
        <router-outlet></router-outlet>
    </div>
</div>
