<md-card *ngIf="pipesListObj[pipeType]?.use_schedule_chart" style="max-width: 800px">
    <md-card-header>
        <md-card-title>Manage Project Schedule</md-card-title>
    </md-card-header>

    <md-card-content>
        <div class="row">
            <div class="col-xs-12">
                <h5> Status: <span style="color: #3d8b40; font-weight: bold; margin-right: 15px;">Connected</span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <pipe-delete [pipe]="pipesListObj[pipeType]"></pipe-delete>
                    <a target="_blank" [routerLink]="['/projects', project?.id, 'pipes', pipesListObj[pipeType]?.id, 'chart']"
                       class="btn btn-success">open</a>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>