<div>

    <md-card *ngIf="isShowToolbar">
        <span style="font-size: 20px;
                    vertical-align: middle;
                    border-right: 2px solid #ccc;
                    padding-right: 20px;
                    margin-right: 10px;">
            {{PipeConnectionService.project.name}}</span>
        <button *ngIf="isAllowEdit" class="btn btn-primary" (click)="save()">Save</button>
        <button class="btn btn-default" (click)="exportToPdf()">Export PDF</button>

        <span class="pull-right">

            <button *ngIf="isAllowEdit" class="btn btn-default" (click)="createBaseline()">create baseline</button>

            <md-select placeholder="Select baseline" name="baseline" [(ngModel)]="selectedBaseline">
                <md-option *ngFor="let baseline of baselines" [value]="baseline.id">
                    {{baseline.name}}
                </md-option>
            </md-select>

            <button class="btn btn-success" [disabled]="!selectedBaseline" (click)="applyBaseline()">Apply baseline</button>
        </span>
    </md-card>

    <div id="chart" style="width:100%; height:100%;">
        <h1>Loading... Please wait.</h1>
    </div>

</div>