<div class="drop-down">
    <div class="item select" (click)="toggle()">{{placeholderDisplay}}</div>

    <div *ngIf="isVisible">
        <div *ngIf="searchEnable">
            <input #input type="text" placeholder="search text" [(ngModel)]="searchText">
        </div>

        <div class="drop-down-items">
            <drop-down-item
                    *ngFor="let item of items | search: searchText"
                    [value]="item"
                    [ngClass]="{'selected': item == selected}"
                    (select)="selectItem($event)">
            </drop-down-item>
        </div>
    </div>
</div>
