<li>
    <div class="name-container">
        <i class="material-icons toggle-folder" (click)="toggle()">{{ isOpened? 'folder_open' : 'folder'}}</i>

        <div class="folder-name" (click)="selectFolder()">{{ folder.name }}</div>
    </div>

    <ul *ngIf="isOpened">
        <procore-folder-item *ngFor="let nestedFolder of folder.folders; let i = index"
                             [folder]="nestedFolder"
                             [projectId]="projectId"></procore-folder-item>
    </ul>
</li>