<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="pipe-step-header-large">Working Days:</div>

            <div class="pipe-step-description">
                Here can be some text to provide more information for this section
            </div>
        </div>

        <div class="col-xs-12">
            <form>
                <fieldset>
                    <md-checkbox [(ngModel)]="model.sm_working_days.mon" name="mon">
                        Monday
                    </md-checkbox>

                    <md-checkbox [(ngModel)]="model.sm_working_days.tue" name="tue">
                        Tuesday
                    </md-checkbox>

                    <md-checkbox [(ngModel)]="model.sm_working_days.wed" name="wed">
                        Wednesday
                    </md-checkbox>

                    <md-checkbox [(ngModel)]="model.sm_working_days.thu" name="thu">
                        Thursday
                    </md-checkbox>

                    <md-checkbox [(ngModel)]="model.sm_working_days.fri" name="fri">
                        Friday
                    </md-checkbox>

                    <md-checkbox [(ngModel)]="model.sm_working_days.sat" name="sat">
                        Saturday
                    </md-checkbox>

                    <md-checkbox [(ngModel)]="model.sm_working_days.sun" name="sun">
                        Sunday
                    </md-checkbox>

                    <!--<a (click)="checkModel()">check model</a>-->
                </fieldset>
            </form>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-12">
            <div class="pipe-step-header-large">Holidays:</div>

            <div class="pipe-step-description">
                Here can be some text to provide more information for this section
            </div>
        </div>

        <div class="col-xs-12">
            <textarea placeholder="Type or paste dates here (12/15/15), separated by commas"
                      [(ngModel)]="model.sm_weekends" name="nonWorkingDays"></textarea>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-xs-12">
            <a [class.disabled]="false" class="btn btn-success" (click)="saveAndContinue()">Save and continue</a>
            <a class="btn btn-default" href="#">cancel</a>
        </div>
    </div>
</div>