<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" *ngIf="!licensesList">
            <h5><i class="fa fa-cog fa-spin fa-fw"></i> Getting licenses...</h5>
        </div>

        <div class="col-xs-12" *ngIf="licensesList && !licensesList.length">
            <h5>No Licenses Yet.</h5>
        </div>

        <div *ngIf="licensesList && licensesList.length">
            <div class="col-xs-12">
                <license-table-header></license-table-header>
                <div >
                <license-table-row *ngFor="let license of licensesList"
                            license-id="{{license.id}}"
                            license-status="{{license.status}}"
                            license-link="{{license.link_to_project}}"
                            license-type="{{license.type}}"
                            license-exp-date="{{license.expiration_date|date}}"
                    >

                </license-table-row>
                </div>
            </div>

        </div>


    </div>
</div>
