.license-table-header {
    font-weight: bold;

    font-size: 18px;
    border-bottom: solid 1px darkgray;
    line-height: 32px;
}
.license-table-row {
    font-size: 14px;
    border-bottom: solid 1px darkgray;
    line-height: 32px;
}

.active-projects h4 {
    color: green;
}

.deleted-projects h4 {
    margin-top: 100px;
    color: red;
}
