<div class="container-fluid">
    <div class="row module-header">
        <div class="col-xs-12">
            <div class="module-name">Delete Project</div>
        </div>
    </div>

    <div class="row">
        <md-card class="col-md-6 col-md-offset-3">
            <md-card-subtitle>By clicking on DELETE button all associated data will be removed</md-card-subtitle>
            <md-card-content>
                <a (click)="deleteProject()" class="btn btn-danger">delete project</a>
                <a [routerLink]="['/','projects']" class="btn btn-default">cancel</a>
            </md-card-content>
        </md-card>
    </div>
</div>