<!-- STATUS ROW -->
<div class="row bottom-lined">
    <div class="col-xs-12">
        <div class="pipe-header-large">
            <div style="display: block; float: left; margin-right: 20px;">Current status:
                {{pipesListObj[pipeType]?.status || 'inactive'}}
            </div>

            <div *ngIf="pipesListObj[pipeType]" style="display: block;">

                <div *ngIf="(pipesListObj[pipeType]?.status != 'active')"
                     style="display: block; float: left">
                    <a (click)="PipeConnectionService.enablePipe(pipesListObj[pipeType]?.id)"
                       [class.disabled]="!(pipesListObj[pipeType]?.sm_sheet_id && pipesListObj[pipeType]?.sm_working_days)"
                       class="btn btn-success">enable</a>
                </div>

                <div *ngIf="(pipesListObj[pipeType]?.status == 'active')"
                     style="display: block; float: left">
                    <a (click)="PipeConnectionService.disablePipe(pipesListObj[pipeType]?.id)"
                       class="btn btn-danger">disable</a>
                </div>
            </div>

            <!-- BUSY INDICATOR TODO IMPLEMENT LATER -->
            <!--<md-progress-circle style="height: 30px; margin-top: 5px; float: right;" mode="indeterminate"></md-progress-circle>-->
            <!-- end BUSY INDICATOR -->
        </div>
    </div>
</div>
<!-- end STATUS ROW -->

<div class="row">
    <div class="col-xs-3 right-lined pipe-config-steps">
        <pipe-step-row step-status="{{pipesListObj[pipeType]?.sm_sheet_id? 'completed' : 'not-completed'}}"
                       step-name="SmartSheet Connection" step-description=""
                       [action]="['smartsheet-connection-private']"></pipe-step-row>

        <pipe-step-row
                step-status="{{pipesListObj[pipeType]?.sm_working_days && pipesListObj[pipeType]?.sm_weekends? 'completed' : 'not-completed'}}"
                step-name="Settings" step-description=""
                [action]="['settings-private']"></pipe-step-row>
    </div>

    <div class="col-xs-9">
        <router-outlet></router-outlet>
    </div>
</div>