<div class="row bottom-lined">
    <div class="col-xs-8 pipe-header-large">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5">
                    Current status: {{pipesListObj[pipeType]?.status || 'inactive'}}
                </div>

                <div class="col-xs-7">
                    <div *ngIf="pipesListObj[pipeType]">
                        <div *ngIf="(pipesListObj[pipeType]?.status != 'active')"
                             style="display: block; float: left">
                            <a (click)="PipeConnectionService.enablePipe(pipesListObj[pipeType]?.id)"
                               [class.disabled]="!(pipesListObj[pipeType]?.sm_sheet_id && pipesListObj[pipeType]?.sm_working_days)"
                               class="btn btn-success">enable</a>
                        </div>
                        <div *ngIf="(pipesListObj[pipeType]?.status == 'active')"
                             style="display: block; float: left">
                            <a (click)="PipeConnectionService.disablePipe(pipesListObj[pipeType]?.id)"
                               class="btn btn-warning">disable</a>
                        </div>

                        <div *ngIf="(pipesListObj[pipeType]?.status == 'disabled' && !deleteConfirmationIsVisible)"
                             style="display: block; float: right">
                            <a (click)="showDeleteConfirmation()"
                               class="btn btn-danger">delete pipe</a>
                        </div>

                        <div *ngIf="(pipesListObj[pipeType]?.status == 'disabled' && deleteConfirmationIsVisible)"
                             style="display: block; float: right">
                            Are you sure?
                            <a (click)="deletePipe(pipesListObj[pipeType]?.id)"
                               class="btn btn-danger">Delete</a>
                            <a (click)="hideDeleteConfirmation()"
                               class="btn btn-default">No</a>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>