<form>
    <div *ngFor="let procoreTodoColumn of procoreTodosColumns">
        <label>
            Procore column: <b>{{procoreTodoColumn.title}}</b>
            <select [(ngModel)]="model[procoreTodoColumn.slug]" [name]="procoreTodoColumn.slug">
                <option value="">- Smartsheet column -</option>
                <option *ngFor="let column of sheetColumns" [value]="column.id">{{column.title}}</option>
            </select>
        </label>
    </div>
</form>
<a (click)="checkModel()">check model</a>