<div class="col-md-offset-3 col-md-6 choose-company">
    <md-card *ngIf="companiesList">
        <md-card-title style="font-size: 20px" class="text-center">
            <p>If you have access to more than one Procore company</p>
        </md-card-title>
        <md-card-content class="text-center">
            <p>Please select the company that has the projects you would like to access.</p>
        </md-card-content>

        <div class="companies-button-group">
            <div *ngFor="let procoreCompany of companiesList" >
                <button md-button (click)="authWithProcoreCompany(procoreCompany.id)" class="companies-button">
                    {{procoreCompany.name}} <md-icon *ngIf="procoreCompany.name">arrow_forward</md-icon>
                </button>
            </div>
        </div>
    </md-card>
</div>



