<md-card style="max-width: 800px" *ngIf="pipesListObj[pipeType]">

    <!-- TASK TITLES -->
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="pipe-step-header-large">Task Titles:</div>

            <div class="pipe-step-description">
                User hierarchy todos' names at Procore project depending on SmartSheet rows relations.
            </div>
        </div>

        <div class="col-xs-12">
            <form>
                <md-checkbox [(ngModel)]="model.summary_tasks_enabled" name="summary_tasks_enabled">
                    Include Summary Tasks
                </md-checkbox>
            </form>
        </div>
    </div>
    <!--end TASK TITLES -->

    <br>
    <div class="row">
        <div class="col-xs-12">
            <a [class.disabled]="pipesListObj[pipeType]?.status === 'active'" class="btn btn-success" (click)="saveAndContinue()">Save</a>
            <p *ngIf="pipesListObj[pipeType]?.status === 'active'">To change this Pipe setting you should disable it firstly</p>
        </div>
    </div>
</md-card>