<div class="container-fluid match-columns-container">
    <div class="row">
        <div class="col-xs-12">
            <h5>Match columns</h5>
        </div>

        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group" >
                    <div class="col-xs-10" style="width: 100%">
                        <p>Microsoft column <b>Task Name</b> will match with Procore column <b>Task Name</b></p>
                        <p>Microsoft column <b>Start</b> will match with Procore column <b>Start</b></p>
                        <p>Microsoft column <b>Finish</b> will match with Procore column <b>Finish</b></p>
                        <p>Microsoft column <b>% Complete</b> will match with Procore column <b>Complete</b></p>
                        <p>Microsoft column <b>Resource Name</b> will match with Procore column <b>Resource</b></p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a [class.disabled]="buttonSubmitted" class="btn btn-success" (click)="matchColumns()">Continue</a>
        </div>
    </div>
</div>
