<div class="container-fluid">
    <task-notification [projectId]="projectId"></task-notification>
    <chart-working-days [projectId]="projectId"></chart-working-days>

    <md-card class="example-card">
        <md-card-header>
            <md-card-title>Primary billing responsibility person</md-card-title>
        </md-card-header>
        <md-card-content>
            <div *ngIf="pbrUser">
                <div *ngIf="!isEdit">
                    <span class="">
                        <b>{{pbrUser.first_name}} {{pbrUser.last_name}}</b> ({{pbrUser.email}})
                    </span>
                    <span class="button-group" *ngIf="isBillingUser">
                        <button class="btn btn-warning" (click)="editPbr()">Edit</button>
                    </span>
                </div>

                <div *ngIf="isEdit">
                    <span class="">
                        <drop-down [items]="users" [searchEnable]="true" [(ngModel)]="pbrUser.id" #user="ngModel"></drop-down>
                    </span>

                    <span class="button-group">
                        <button class="btn btn-success" (click)="savePbr(user)">Save</button>
                        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
                    </span>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <task-notification [projectId]="projectId"></task-notification>

    <md-card class="example-card">
        <md-card-header>
            <md-card-title>Users allowed to access</md-card-title>
        </md-card-header>
        <md-card-content>
            <div *ngFor="let user of usersList">
                <b>{{user.first_name}} {{user.last_name}}</b> ({{user.email}})
            </div>
        </md-card-content>
    </md-card>

    <!--<workspace-management project-id="{{projectId}}"></workspace-management>-->


    <choose-resource [projectId]="projectId"></choose-resource>

</div>
